@model AuctionApp.Models.Auction

<div class="container">
    <div class="container_item: first-child">
        <h2>New Auction</h2>
    </div>

    <div class="container_item: nth-child(2)">
        <p><a href="/main">Home</a></p>
        <p><a href="/logout">Logout</a></p>
    </div>

    <div class="container_item: nth-child(3)">
        <form asp-controller="Auction" asp-action="CreateNewAuction" method="POST">
            <div class="formgroup">
                <span asp-validation-for="productName"></span>
                <label asp-for="productName">Product Name:</label>
                <input asp-for="productName" />
            </div>
            
            <div class="formgroup">
                <span asp-validation-for="startingBid"></span>
                <label asp-for="startingBid">Starting Bid:</label>
                <input asp-for="startingBid" />
        
            </div>
            
        
            <div class="formgroup">
                <span asp-validation-for="description"></span>
                <label asp-for="description">Description:</label>
                <textarea asp-for="description" cols="40" rows="10"></textarea>
            </div>
            
        
            <div class="formgroup">
                <span asp-validation-for="endDate"></span>
                <label asp-for="endDate">End Date:</label>
                <input asp-for=endDate />
        
            </div>
            
            <input type="hidden" name="user_id" value="@ViewBag.UserId">
        
            <div class="formgroup">
                <input type="submit" value="Create Auction">
            </div>
            
        </form>

        
    </div>

        
    

</div>
