<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Ninja Gold</title>
</head>
<body>
    <h2>Ninja Gold</h2>
    <p>Your Total Number of Golds: </p><input type="text" disabled value="@TempData["message"]">
    <h3>Farm</h3>
    <p>Earn 3-10 golds</p>
    <a href="/GetGold/farm"><button>Get Gold</button></a>
    <h3>House</h3>
    <p>Earn 10-20 golds</p>
    <a href="/GetGold/house"><button>Get Gold</button></a>
    <h3>Cave</h3>
    <p>Earn 0-14 golds</p>
    <a href="/GetGold/cave"><button>Get Gold</button></a>
    <h3>Casino</h3>
    <p>Earn -50-50 golds</p>
    <a href="/GetGold/casino"><button>Get Gold</button></a>
    
</body>
</html>