<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Show Results</title>
</head>
<body>
    <div class="Main">
        @foreach(var error in ViewBag.Errors)
        {
            error
        }
        <h3>Your Name: @ViewBag.Name</h3>
        <h3>Your Location: @ViewBag.Location</h3>
        <h3>Your Language: @ViewBag.Language</h3>
        <h3>Your Comment: @ViewBag.Comment</h3>
    </div>
    

    
</body>
</html>